.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content {

  left: 50%;
  background-image: url('./images/kenrick-mills-1h2Pg97SXfA-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  width: 500px;
  height: auto;
  border-radius: 50px;
  margin: auto;

}

@media (max-width: 576px) {
  .content {
    width: 100%;
    margin: auto;
  }
}



.search {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  border-style: none;
  background-color: lightgray;
  font-family: Lucida Sans Unicode;
  color: rgb(116, 115, 115);
  font-weight: bold;
  text-align: center;
}

::placeholder {
  font-weight: bold;
}

.topheader {

  margin-top: 20px;
}

.button {
  background-color: rgb(16, 70, 231);
  border-radius: 25px;
  color: #fff;
  border-style: none;
  padding: 10px;
  font-family: Lucida Sans Unicode;
  font-weight: bold;
}

.maincontent {

  color: #fff;
  text-align: left;
  font-family: Verdana;

}

.main-temp {
  margin:5px;
  float: inline-start;
  font-size: 70px;
  padding: 10px;
  line-height: normal;
}

.name {
  float:inline-start;
  font-size: 28px;
  line-height: normal;
  margin: 5px;
  padding: 10px;

}

.logoimage {

  float: left;
}